.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgrey;
}

.heading {
  padding: 0rem 1rem;
  text-align: center;
  color: white;
  font-family: Satisfy;
}

.activity-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  margin-bottom: 9rem;
}

.activity-text {
  font-size: 3em;
  font-family: Satisfy;
  text-align: center;
  padding: 0.3rem;
}

.education {
  background-color: #82c4e1;
}

.recreational {
  background-color: #f9b895;
}

.social {
  background-color: #fccb90;
}

.diy {
  background-color: #fcc1a3;
}

.charity {
  background-color: #fce2a6;
}

.cooking {
  background-color: #c8dfb7;
}

.relaxation {
  background-color: #9dd8c6;
}

.music {
  background-color: #a1cccb;
}

.busywork {
  background-color: #82c4e1;
}

.try-something-else-button {
  color: #494949 !important;
  font-weight: bold;
  text-transform: uppercase;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #494949 !important;
  display: inline-block;
}

.try-something-else-button:hover {
  color: #494949 !important;
  font-weight: bold;
  text-transform: uppercase;
  background: lightgrey;
  padding: 20px;
  border: 4px solid #494949 !important;
  display: inline-block;
}

.try-something-else-button-container {
  text-align: center;
}
